.button {
  font-size: 1rem;
  background-color: #007ea7;
  color: white;
  border: none;
  border-radius: 10px;
  display: flex;
  box-shadow: 0 1px 4px grey;
  font-weight: 500;
}

.button > span {
  margin: 0.5em 1.6em;
}

.button:hover {
  cursor: pointer;
  background-color: #006c91;
}
